<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="icon" href="https://th.bing.com/th?q=Icono+Notas+Apple+PNG&w=120&h=120&c=1&rs=1&qlt=70&o=7&cb=1&pid=InlineBlock&rm=3&mkt=es-MX&cc=MX&setlang=es&adlt=moderate&t=1&mw=247" type="image/x-icon">
</html>
<body class=" bg-secondary">

{% if session.get('logueado') %}
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="{{url_for('dashboard')}}">📝 Gestor</a>
            <div class="container">
                {% if "usuario_id" in session%}
                    <span class="navbar-text text-white me-3">
                        Hola, <strong>{{ session["nombre"] }}</strong>
                    </span>
                    <a href="{{url_for('perfil')}}" class="btn btn-outline-light btn-sm me-2">Perfil</a>
                    <a href="{{url_for('editar_usuario')}}" class="btn btn-outline-light btn-sm me-2">Editar perfil</a>
                    <a href="{{url_for('logout')}}" class="btn btn-outline-danger btn-sm me-2">Cerrar sesion</a>
                {% endif %}
            </div>
        </div>
    </nav>
{% else %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 shadow-sm">
        <div class="container">
            <a class="navbar-brand" >Gestor</a>
            <div class="container">
                    <a href="{{url_for('registro')}}" class="btn btn-outline-light btn-sm ms-2">Registrarse</a>
            </div>
        </div>
    </nav>
    
{% endif %}
    <div class="container">
        {% with messages = get_flashed_messages()%}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>
</html>